//my stylesheet

#mapid {
    height: 400px;
    width: 100%;
    display: inline-block;
}
.leaflet-popup-content p {
    margin: 0.2em 0;
}
.sequence-control-container {
  width: 350px;
  height: 30px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}
.legend-control-container{
  width: 350px;
  height: 30px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}
.range-slider {
  width: 250px;
}

.step {
	width: 40px;
}

.step img {
	width: 100%;
  height: auto;
}

#forward {
    float: right;
    width: 40px;
}

#reverse {
    float: left;
    width: 40px;
}
#description {
  width: 75%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: normal;
}
